<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <title>{{ or .Title "Hello World!" }}</title>
  <style>
    {{template "css" .}}
  </style>
  <link rel="stylesheet" href="highlight.min.css">
  <script src="highlight.min.js"></script>
  <script src="mermaid.min.js"></script>
  <script src="boxicons.js"></script>
  <link href="boxicons.min.css" rel='stylesheet'>
  <script>
    hljs.highlightAll(); 
    maxPage = {{len .Slides }} - 1;
    port = {{.Port}};
  </script>
  <script>
    {{template "js" .}}  
  </script>
  <script>mermaid.initialize({startOnLoad: true});</script>
  <script>
  window.getPageDown = function(start, target) {
  {{- range .Slides -}}
    {{if ne .LinkPrev ""}}
    if (start == {{.PageIndex}}) { return {{ .LinkPrev }} };
    {{end}}
  {{- end -}}
    return target;
  };
  window.getPageUp = function(start, target) {
  {{- range .Slides -}}
    {{if ne .LinkNext ""}}
    if (start == {{.PageIndex}}) { return {{ .LinkNext }} };
    {{end}}
  {{- end -}}
    return target;
  };
  </script>
</head>
<body>
<div id="app">  
  <div class="" id="spinner"></div>
  {{template "notes" .}}
  {{template "menu" .}}
  {{- range .Slides -}}
    {{template "slide" .}}
  {{- end -}}
</div>
    
</body>
</html>

{{ define "slide" }}
  <div class="slide hidden {{if eq .PrintPage 0}}page-not-print-visible{{end}}" id="slide-{{.PageIndex}}" style="font-size: {{.FontSize}}; background-image: url('{{.BackgroundImage}}');">
  <div class="presenter-comment closed" id="notes-{{.PageIndex}}">
    {{.Notes}}
  </div>
  <div class="page-header">  
    {{- if .HasCast }}
    <div class="run" id="run-{{.PageIndex}}">
      <i class='bx bxs-right-arrow' id="run-icon-{{.PageIndex}}" style="color: #00ADD8;"></i>
    </div>
    <div class="run closed" id="run-{{.PageIndex}}-refresh">
      <i class='bx bx-refresh rotating-icon' style="color: #00ADD8;"></i>
    </div>
    {{- end }}
  </div>
  <div class="slide-data">
    {{.HTML}}
  </div>
  <div class="page-footer">  
    {{- if .HasCast }}
    <div class="terminal closed" id="terminal-{{.PageIndex}}">{{ .HasCast }}</div>
    {{- end }}
    {{.PageNumber}}
  </div>
  </div>
  {{- if ne .PrintPage 0}}
    <div class="page-break"></div>
  {{- end}}
{{ end }}

{{ define "menu" }}
  <div class="menu menu-hidden" id="menu">
    <table>
      {{- range .Menu -}}
      <tr>        
          <td onclick="setPage({{.Link}})" style="cursor: pointer;">{{.Page}}</td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td onclick="setPage({{.Link}})" style="cursor: pointer;">{{.Title}}</td>
      </tr>
      {{- end}}
    </table>
  </div>
{{ end }}

{{ define "notes" }}
  <div class="presenter-time closed" id="presenter-time-top">    
    <span style="cursor: pointer;">
      <i class='bx bx-pause' onclick="notesPause=true"></i>
      <i class='bx bx-play' onclick="notesPause=false"></i>
      <i class='bx bx-reset' onclick="notesCounter=0;document.getElementById('presenter-time').innerHTML='00:00'"></i>
    </span>
    <span id="presenter-time"></span>
  </div>
  <div class="presenter-current-time closed" id="presenter-current-time">
    
  </div>
{{ end }}
