<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <title>{{ or .Title "Hello World!" }}</title>
  <style>
    {{template "css" .}}
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll(); 
    maxPage = {{len .Slides }} - 1;
    port = {{.Port}};
  </script>
  <script>
    {{template "js" .}}  
  </script>
</head>
<body>
<div id="app">  
  <div class="" id="spinner"></div>
  {{template "menu" .}}
  {{- range .Slides -}}
    {{template "slide" .}}
  {{- end -}}
</div>
    
</body>
</html>

{{ define "slide" }}
  <div class="slide hidden {{if eq .PrintPage 0}}page-not-print-visible{{end}}" id="slide-{{.PageIndex}}" style="font-size: {{.FontSize}}; background-image: url('{{.BackgroundImage}}');">
  <div class="page-header">  
    {{- if .HasCast }}
    <div class="run" id="run-{{.PageIndex}}">
      >_
    </div>
    {{- end }}
  </div>
  <div class="slide-data">
    {{.Html}}
  </div>
  <div class="page-footer">  
    {{- if .HasCast }}
    <div class="terminal closed" id="terminal-{{.PageIndex}}">{{ .HasCast }}</div>
    {{- end }}
    {{.PageNumber}}
  </div>
  </div>
  {{- if ne .PrintPage 0}}
    <div class="page-break"></div>
  {{- end}}
{{ end }}

{{ define "menu" }}
  <div class="menu menu-hidden" id="menu">
    <table>
      {{- range .Menu -}}
      <tr>        
          <td onclick="setPage({{.Link}})" style="cursor: pointer;">{{.Page}}</td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td onclick="setPage({{.Link}})" style="cursor: pointer;">{{.Title}}</td>
      </tr>
      {{- end}}
    </table>
  </div>
{{ end }}
